---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import apoteket from "../assets/images/apoteket.jpg";
import arbejde from "../assets/images/arbejde.jpg";
import glitch from "../assets/images/glitch.jpg";
import godtarbejde from "../assets/images/godt-arbejde.jpg";
import lidtifem from "../assets/images/lidtifem-pierre-falcke.jpg";
import smena from "../assets/images/lomo-smena-17.jpg";
import overouticm from "../assets/images/over-out-icm.jpeg";
import pierre from "../assets/images/pierre.jpeg";
import tyndfilm from "../assets/images/tynd-film.jpg";
import "../styles/tobii.min.css";
import "../styles/tailwind.css";
import Stockfotos from "../components/Stockfotos.astro";
---

<div class="progress-bar h-4 fixed w-full bg-gradient-to-r from-pink-500 to-yellow-300 left-0 origin-top-left top-0 right-0"></div>

<MainLayout title="Titel">
  <article class="p-4 md:p-0">
    <section class="max-w-4xl mx-auto mt-32 flex flex-col md:flex-row items-center" id="hero">
      <div class="prose md:w-1/2 md:mr-8" id="titel">
        <h2 class="text-6xl md:text-9xl text-center bangers-regular color-change-2x">UPERFEKT ER PERFEKT</h2>
      </div>
      <div class="md:w-1/2" id="herovideo">
        <video width="1280" height="960" autoplay muted loop class="rounded-full border-3 border-[#ee1589]">
          <source src="pierre-falcke-video.mp4" type="video/mp4" />
        </video>
      </div>
    </section>
    <section class="max-w-4xl mx-auto mt-32 prose flex flex-col md:flex-row items-center gap-4" id="manchet">
      <div class="overflow-auto md:w-1/2">
        <a href="pierre.jpeg" class="lightbox border-[#7adaeb] border-2">
          <Image src={pierre} alt="" class="not-prose rounded-full border-3 border-[#ee1589] shake-br" />
          <figcaption class="text-center reenie-beanie-regular text-xl">Pierre Falcke, selvportræt</figcaption>
        </a>
      </div>
      <p class="text-xl animate-fade-in md:w-1/2 md:mr-8 reenie-beanie-regular">Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.</p>
    </section>

    <article>
      <!-- containeren -->
      <div class="sticky top-10 left-30 right-0 bottom-0 h-[50vh] w-full bg-cover bg-center" style={`background-image: url(${glitch.src})`}></div>
      <!-- sticky elementet -->
      <div class="relative flex justify-center h-full">
        <!-- relative elementet -->
        <div class="flex flex-col w-full md:w-1/2 h-full justify-start gap-4 p-4 bg-opacity-0 mt-2">
          <div class="sticky top-0 left-30 md:bg-opacity-0">
            <p class="text-2xl italic text-center bg-[#eaf4f4b7] color-change-2x p-8 text-white reenie-beanie-regular">Pierre sælger 2 millioner fotos om året</p>
          </div>
          <div class="sticky top-0 left-30 md:bg-opacity-">
            <p class="text-2xl italic text-center bg-[#eaf4f4b7] color-change-2x p-8 text-white reenie-beanie-regular">Det svarer til én fotolicens hvert 16. sekund</p>
          </div>
          <div class="mt-2 text-center">
            <p class="text-2xl italic text-center bg-[#eaf4f4b7] color-change-2x p-8 text-white reenie-beanie-regular">Du ser hans fotos ca. 2 gange om dagen</p>
          </div>
        </div>
      </div>
    </article>

    <section class="max-w-4xl mx-auto my-32 prose border border-double border-black p-8" id="hvaderstockfotos">
      <section class="whitespace-nowrap overflow-x-hidden bg-[#ee1589] text-white py-4">
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6">
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
          <span class="bangers-regular">HVAD ER STOCK FOTOS?</span>
        </div>
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
          <span>UI Lir</span>
          <span>Fede effekter</span>
          <span>Flotte animationer</span>
          <span>Høje lyde</span>
          <span>Livlige og levende webløsninger</span>
          <span>UI & UX</span>
          <span>Interaktioner</span>
          <span>Mikroanimationer</span>
          <span>Mega fedt!</span>
          <span>Dit site bliver bedre!</span>
        </div>
      </section>

      <div class="grid grid-cols-3 gap-4">
        <div>
          <p class="bangers-regular">Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til.</p>
          <Image src={arbejde} alt="" class="not-prose rounded-full border-3 border-[#ee1589] shake-br" />
        </div>
        <div>
          <p class="bangers-regular">Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling.</p>
          <Image src={apoteket} alt="" class="not-prose rounded-full border-3 border-[#ee1589] shake-br" />
        </div>
        <div>
          <p class="bangers-regular">Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.</p>
          <Image src={godtarbejde} alt="" class="not-prose rounded-full border-3 border-[#ee1589] shake-br" />
        </div>
      </div>
    </section>

    <div class="flex flex-col md:flex-row gap-8 m-20">
      <article id="pierresberømmelse">
        <div class="sticky top-0 left-0 right-0 bottom-0 h-screen w-full bg-cover bg-center" style="background-image: url('/havet.jpg')">
          <!-- sticky elementet med lidt ekstra indhold -->
          <div class="flex justify-start h-full">
            <div class="flex flex-col w-full md:w-1/2 justify-center gap-4 p-10">
              <div class="m-10 p-10">
                <p class="text-center text-4xl bangers-regular color-change-2x">PIERRES BERØMMELSE</p>
              </div>
              <div class="m-2">
                <p class="text-center bangers-regular">
                  <p class="bangers-regular">Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.</p>
                  <p class="bangers-regular">Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil.</p>
                  <p class="bangers-regular">På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: “Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</p>
                  <p class="bangers-regular">Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</p>
                  <p class="bangers-regular">Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX.</p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="relative flex justify-end">
          <div class="flex flex-col w-full md:w-1/2 h-full justify-center gap-4 p-10">
            <div class="m-2">
              <p class="text-center text-4xl bangers-regular color-change-2x">EN SKILLEVEJ</p>
            </div>
            <div class="m-2">
              <p class="text-center bangers-regular">
                <p class="bangers-regular">Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.</p>
                <p class="bangers-regular">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</p>
              </p>
            </div>
          </div>
        </div>
        <div class="h-[100vh]"></div>
      </article>
    </div>
    <div class="relative flex items-center justify-center h-140 overflow-auto">
      <img src="/149.jpg" alt="" class="w-full h-full object-cover opacity-40" />
      <div class="absolute inset-0 grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
        <div>
          <a href="glitch.jpg" class="lightbox">
            <Image src={glitch} alt="" class="not-prose shake-br rounded-full border-3 border-[#ee1589]" />
            <figcaption class="text-center reenie-beanie-regular bg-[#eaf4f45b] text-3xl text-black font-bold">Glitch kunst</figcaption>
          </a>
        </div>
        <div>
          <a href="lomo-smena-17.jpg" class="lightbox">
            <Image src={smena} alt="" class="not-prose shake-br rounded-full border-3 border-[#ee1589]" />
            <figcaption class="text-center reenie-beanie-regular bg-[#eaf4f45b] text-black text-3xl">Dobbelteksponering med Smena</figcaption>
          </a>
        </div>
      </div>
    </div>
  </article>
  <div class="max-w-xl mx-auto prose">
    <p class="bangers-regular pt-25">Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</p>
  </div>
  <article id="fotoeksperimenter">
    <section class="max-w-4xl mx-auto my-32 prose border-black p-8" id="fotoeksperimenter">
      <section class="whitespace-nowrap text-[#ee1589] py-4 text-2xl">
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-14">
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
          <span class="bangers-regular">FOTOEKSPERIMENTER</span>
        </div>
        <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6" aria-hidden="true">
          <span>UI Lir</span>
          <span>Fede effekter</span>
          <span>Flotte animationer</span>
          <span>Høje lyde</span>
          <span>Livlige og levende webløsninger</span>
          <span>UI & UX</span>
          <span>Interaktioner</span>
          <span>Mikroanimationer</span>
          <span>Mega fedt!</span>
          <span>Dit site bliver bedre!</span>
        </div>
      </section>

      <div class="grid grid-cols-3 gap-4">
        <div>
          <h3 class="text-lg bangers-regular color-change-2x">ANALOG FOTOGRAFERING</h3>
          <p class="bangers-regular">Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret. Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker.</p>
          <p class="bangers-regular">Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.</p>
        </div>
        <div>
          <h3 class="text-lg bangers-regular color-change-2x">GLITCH ART</h3>
          <p class="bangers-regular">Når der sker en teknisk fejl i et medie/en kommunikationskanal kaldes det en glitch. Glitch art går ud på at dyrke fejlene for at skabe kunst. En meget typisk glitch er små analoge eller digitale fejl i farvegengivelsen af billeder.</p>
          <p></p>
        </div>
        <div>
          <h3 class="text-lg bangers-regular color-change-2x">LOMOGRAFI</h3>
          <p class="bangers-regular">Et lomografi er egentlig bare et fotografi skudt uden videre omtanke, og med noget foto-udstyr af ret alternativ kvalitet. Lomografier skydes ofte på gode, gammeldags filmruller, men kan også skyde digitalt.</p>
          <p class="bangers-regular">Det kan måske lyde lidt anti-fotograf-agtigt. Men en del foto-entusiaster dyrker den slags, og ser det som en foto-genre eller endda en livsstil.</p>
        </div>
      </div>
    </section>
  </article>
  <article id="nybegyndelse">
    <section id="nybegyndelse">
      <div class="max-w-xl mx-auto my-32 prose">
        <h2 class="text-4xl bangers-regular color-change-2x">EN NY BEGYNDELSE</h2>
        <p class="bangers-regular">Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde. Som Pierre selv udtrykker det: <span class="italic">“Det interessante ligger i fejlen. Et foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.”</span></p>
      </div>
      <div class="grid grid-cols-2 gap-4 max-w-4xl mx-auto my-8 items-center prose">
        <div>
          <a href="/over-out-icm.jpeg" class="lightbox">
            <Image src={overouticm} alt="" class="not-prose shake-br rounded-full border-3 border-[#ee1589]" />
            <figcaption class="text-center reenie-beanie-regular text-xl">Overeksponeret og ude af fokus</figcaption>
          </a>
        </div>
        <div>
          <a href="tynd-film.jpg" class="lightbox">
            <Image src={tyndfilm} alt="" class="not-prose shake-br rounded-full border-3 border-[#ee1589]" />
            <figcaption class="text-center reenie-beanie-regular text-xl">Tynd film</figcaption>
          </a>
        </div>
      </div>
      <div class="max-w-xl mx-auto my-32 prose">
        <p class="bangers-regular">Karrieren begynder også så småt også at gå den rette vej: Pierre er begyndt at sælge fotokunst på nettet, og har udgivet sin første foto-bog med titlen “Lidt i fem,” som er en fotografisk odyssé om at slæbe en brandert hjem i de tidlige morgentimer. I forbindelse med udgivelsen af bogen, har han en udstilling på vej i det Kongelige Biblioteks fotoudstilling.</p>
        <p class="bangers-regular">Som Pierre forklarer det: <span class="italic">“Nu kan jeg leve livet igen. Jeg føler mig frisk. Jeg føler mig fri. Jeg føler mig genfødt.”</span></p>
        <div>
          <a href="lidtifem-pierre-falcke.jpg" class="lightbox" alt="">
            <Image src={lidtifem} alt="" class="not-prose animate__flipOutX shake-br rounded-full border-3 border-[#ee1589]" />
            <figcaption class="text-center reenie-beanie-regular text-xl">Lidt i fem - ny bog af Pierre Falcke</figcaption>
          </a>
        </div>
      </div>
    </section>
  </article>














  
</MainLayout>

<div class="owerflow-auto w-100 h-400 absolute top-70 left-140 z-0" style="clip-path: url(#uundulate-clip);">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800" opacity="0.47"
    ><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="uundulate-grad"><stop stop-color="hsl(205, 69%, 60%)" stop-opacity="1" offset="45%"></stop><stop stop-color="hsl(205, 69%, 80%)" stop-opacity="1" offset="100%"></stop></linearGradient></defs><g stroke-width="4" stroke="url(#uundulate-grad)" fill="none"
      ><path
        d="M1437.8064108481035 172.75375434756893C1398.0694732523325 548.6277482892201 1397.855455210774 549.2788192961318 1206.827813040769 875.4210021828408C1015.8001708707634 1201.56318506955 869.8677785363411 1696.8260613388588 520.8737284320794 1738.2362322037707C171.87967832781783 1779.6464030686816 -233.82223481691904 1459.1136412606843 -468.3436274596902 1074.1898223344187C-702.8650201024614 689.266003408153 -801.6665546819205 181.74895888028232 -604.8289562532215 -109.39809864230347C-407.9913578245223 -400.54515616488914 59.31141379938208 -152.61270583757732 476.4768449980677 -323.31605377399023C893.6422761967535 -494.0194017104029 1197.2881206150441 -1032.1220454290776 1397.5651135004682 -928.774168737086C1597.8421063858923 -825.4262920450946 1477.5433484438745 -203.1202395940818 1437.8064108481035 172.75375434756893C1398.0694732523325 548.6277482892201 1397.855455210774 549.2788192961318 1206.827813040769 875.4210021828408 "
      ></path><path
        d="M1420.5096378425947 176.54114396423734C1381.4349825400864 546.1505713401941 1381.2245314658876 546.7907911636573 1193.380683332049 867.4972710022548C1005.5368351982108 1188.203750840852 862.0366494026953 1675.2122458390058 518.8591668001711 1715.932247189502C175.6816841976472 1756.6522485399983 -223.25853039467745 1441.4616994288008 -453.8712331600691 1062.9532774846393C-684.4839359254607 684.4448555404781 -781.6387782619289 185.3864284214053 -588.0818064737082 -100.90817814247066C-394.52483468548735 -387.20278470634673 64.98955741135205 -143.40254188449035 475.20223142339296 -311.26083402196264C885.4149054354339 -479.11912615943527 1183.9999857800863 -1008.2533924827987 1380.939028784087 -906.6279804023404C1577.8780717880873 -805.0025683218821 1459.584293145103 -193.06828341171968 1420.5096378425947 176.54114396423734C1381.4349825400864 546.1505713401941 1381.2245314658876 546.7907911636573 1193.380683332049 867.4972710022548 "
      ></path><path
        d="M1403.2128648370858 180.32871668637404C1364.8004918278402 543.6735774966367 1364.5936077210008 544.3029461366514 1179.9335536233293 859.5737229271367C995.2734995256576 1174.844499717622 854.205520269049 1653.5986134446207 516.8446051682627 1693.6284452807022C179.48369006747635 1733.6582771167832 -212.69482597243575 1423.8099407023856 -439.398838860448 1051.7169157403287C-666.1028517484601 679.6238907782717 -761.6110018419372 189.02408106799703 -571.3346566941948 -92.41807453716933C-381.0583115464524 -373.8602301423356 70.66770102332202 -134.19219482593417 473.9276178487182 -299.20543116446663C877.1875346741142 -464.21866750299887 1170.7118509451284 -984.384556431051 1364.3129440677048 -884.4816089621258C1557.9140371902822 -784.5786614932008 1441.6252378463314 -183.01614412388835 1403.2128648370858 180.32871668637404C1364.8004918278402 543.6735774966367 1364.5936077210008 544.3029461366514 1179.9335536233293 859.5737229271367 "
      ></path><path
        d="M1385.9160918315774 184.11604526788597C1348.1660011155946 541.1963395124544 1347.962683976114 541.8148569690206 1166.486423914609 851.6499307113945C985.0101638531046 1161.485004453768 846.3743911354031 1631.9847369096115 514.8300435363544 1671.3243992312773C183.28569593730572 1710.6640615529432 -202.13112155019417 1406.1579378353454 -424.9264445608268 1040.480309855393C-647.7217675714594 674.8026818754406 -741.5832254219456 192.66148957396354 -554.5875069146814 -83.928215072493C-367.5917884074174 -360.51791971894943 76.345844635292 -124.98209190800321 472.65300427404327 -287.1502724475953C868.9601639127948 -449.31845298718747 1157.423716110171 -960.5159645199284 1347.6868593513236 -862.3354816625365C1537.9500025924767 -764.1549988051445 1423.6661825475594 -172.96424897668248 1385.9160918315774 184.11604526788597C1348.1660011155946 541.1963395124544 1347.962683976114 541.8148569690206 1166.486423914609 851.6499307113945 "
      ></path><path
        d="M1368.6192883084905 187.90367902517914C1331.5314798857708 538.7194067040534 1331.331729713649 539.3270729771709 1153.0392636883112 843.7264436714331C974.7467976629732 1148.125814365695 838.5432314841787 1610.3711655503835 512.8154513868678 1649.0206583576337C187.08767128955697 1687.6701511648844 -191.5674476455307 1388.5062401440869 -410.4540807787838 1029.244009146239C-629.3407139120369 669.9817781483907 -721.5554795195321 196.29920325571152 -537.8403876527462 -75.4380504320352C-354.12529578596036 -347.1753041197819 82.02395772968384 -115.77168381429101 471.3783601817904 -275.0948085549429C860.7327626338972 -434.4179332955948 1144.135550757635 -936.6470674330245 1331.0607441173643 -840.1890491871657C1517.9859374770936 -743.7310309413069 1405.7070967312102 -162.91204865369514 1368.6192883084905 187.90367902517914C1331.5314798857708 538.7194067040534 1331.331729713649 539.3270729771709 1153.0392636883112 843.7264436714331 "
      ></path><path
        d="M1351.3224847854035 191.6909465715346C1314.8969586559465 536.2421076847147 1314.700775451185 536.8389227743837 1139.5921034620133 835.8025904205338C964.4834314728421 1134.7662580666838 830.7120718329547 1588.757227980217 510.8008592373815 1626.7165512730526C190.8896466418082 1664.675874565888 -181.00377374086713 1370.8541762418904 -395.9817169967407 1018.0073422261466C-610.9596602526144 665.1605082104031 -701.5277336171185 199.93655072652177 -521.0932683908111 -66.94825200251489C-340.6588031645035 -333.833054731552 87.70207082407546 -106.5616419315163 470.10371608953733 -263.03971087322793C852.5053613549992 -419.5177798149397 1130.847385405099 -912.778536557058 1314.4346288834045 -818.0429829227326C1498.02187236171 -723.307429288407 1387.74801091486 -152.8602145416454 1351.3224847854035 191.6909465715346C1314.8969586559465 536.2421076847147 1314.700775451185 536.8389227743837 1139.5921034620133 835.8025904205338 "
      ></path><path
        d="M1334.025772815051 195.47851929367152C1298.2625289788566 533.7651138411575 1298.0699127414546 534.351077747378 1126.1450347884502 827.8790423454163C954.2201568354453 1121.4070069434547 822.8810037344647 1567.1435955858324 508.78635864062926 1604.4127493642527C194.69171354679384 1641.681903142673 -170.4400082834693 1353.2024175154752 -381.50926166196336 1006.770980481836C-592.5785150404574 660.339543448197 -681.4998961619706 203.5742033731135 -504.34605757614145 -58.45814839721379C-327.1922189903123 -320.49050016754086 93.38027547120168 -97.35129487296035 468.82916355001885 -250.9843080157317C844.278051628836 -404.6173211585033 1117.5593116052978 -888.9097005053104 1297.808605202179 -795.8966114825181C1478.0578987990611 -702.8835224597258 1369.7890166512448 -142.8080752538143 1334.025772815051 195.47851929367152C1298.2625289788566 533.7651138411575 1298.0699127414546 534.351077747378 1126.1450347884502 827.8790423454163 "
      ></path><path
        d="M1316.728969291964 199.26584787518368C1281.6280077490328 531.2878758569752 1281.4389584789897 531.8629885797473 1112.6978745621518 819.9552501296737C943.956790645314 1108.0475116796001 815.0498440832405 1545.5297190508231 506.7717664911429 1582.1087033148278C198.49368889904508 1618.6876875788334 -159.87633437880584 1335.5504146484354 -367.0368978799204 995.5343745969008C-574.1974613810349 655.5183345453659 -661.4721502595571 207.21161187908046 -487.5989383142063 -49.968288932537234C-313.7257263688555 -307.1481897441547 99.05838856559353 -88.14119195502917 467.55451945776576 -238.92914929886058C836.0506503499382 -389.71710664269176 1104.2711462527616 -865.0411085941878 1281.1824899682197 -773.7504841829286C1458.093833683678 -682.4598597716695 1351.829930834895 -132.7561801066081 1316.728969291964 199.26584787518368C1281.6280077490328 531.2878758569752 1281.4389584789897 531.8629885797473 1112.6978745621518 819.9552501296737 "
      ></path><path
        d="M1299.432165768877 203.05329852700788C1264.993486519209 528.8107599431053 1264.8080042165252 529.3750214824288 1099.250714335854 812.0315799842435C933.6934244551828 1094.688138486058 807.2186844320165 1523.915964586126 504.7571743416563 1559.8047793357155C202.29566425129633 1595.6935940853054 -149.31266047414238 1317.8985338517077 -352.5645340978774 984.2978907822771C-555.8164077216124 650.6972477128472 -641.4444043571436 210.84914245535947 -470.8518190522711 -41.47830739754818C-300.2592337473985 -293.80575725045605 104.73650165998527 -78.93096696678595 466.2798753655129 -226.87386851167696C827.8232490710404 -374.816770056568 1090.9829809002258 -841.1723946127527 1264.5563747342603 -751.6042348130267C1438.1297685682944 -662.0360750133007 1333.870845018545 -122.70416288908973 1299.432165768877 203.05329852700788C1264.993486519209 528.8107599431053 1264.8080042165252 529.3750214824288 1099.250714335854 812.0315799842435 "
      ></path><path
        d="M1282.1354537985244 206.84081021398833C1248.3590568421191 526.3337050643918 1248.1771415067947 526.8871154202668 1085.8036456622901 804.1079708739694C923.4301498177858 1081.3288263276727 799.3876163335267 1502.302271156585 502.7426737449043 1537.5009163917598C206.09773115628195 1572.6995616269342 -138.74889501674443 1300.2467140901363 -338.09207876309995 973.0614680028107C-537.4352625094555 645.8762219154846 -621.4165669019958 214.48673406679472 -454.1046082376015 -32.98826482740333C-286.7926495732073 -280.46326372160115 110.41470630711149 -69.72068094338601 465.0053228259944 -214.81852668933698C819.595939344877 -359.9163724352877 1077.694907100424 -817.3036195961613 1247.9303510530349 -729.4579244079684C1418.1657950056451 -641.6122292197756 1315.9118507549301 -112.65208463641477 1282.1354537985244 206.84081021398833C1248.3590568421191 526.3337050643918 1248.1771415067947 526.8871154202668 1085.8036456622901 804.1079708739694 "
      ></path><path
        d="M1264.8386502754374 210.6281387955005C1231.7245356122949 523.8564670802098 1231.5461872443302 524.3990262526361 1072.3564854359925 796.184178658227C913.1667836276547 1067.9693310638177 791.5564566823025 1480.6883946215753 500.72808159541773 1515.196870342335C209.8997065085332 1549.7053460630946 -128.18522111208097 1282.5947112230965 -323.619714981057 961.8248621178752C-519.054208850033 641.0550130126537 -601.3888209995822 218.12414257276168 -437.3574889756663 -24.49840536272677C-273.32615695175036 -267.1209532982148 116.09281940150333 -60.51057802545506 463.73067873374157 -202.76336797246563C811.3685380659795 -345.0161579194764 1064.4067417478884 -793.4350276850387 1231.304235819075 -707.3117971083791C1398.201729890262 -621.1885665317194 1297.95276493858 -102.60018948920879 1264.8386502754374 210.6281387955005C1231.7245356122949 523.8564670802098 1231.5461872443302 524.3990262526361 1072.3564854359925 796.184178658227 "
      ></path><path
        d="M1247.5418467523505 214.4154673770122C1215.090014382471 521.3792290960273 1214.9152329818653 521.9109370850049 1058.9093252096943 788.2603864424841C902.9034174375233 1054.6098357999635 783.7252970310783 1459.0745180865656 498.7134894459314 1492.8928242929096C213.70168186078445 1526.711130499254 -117.6215472074175 1264.9427083560568 -309.1473511990139 950.5882562329393C-500.67315519061043 636.2338041098224 -581.3610750971686 221.7615510787282 -420.6103697137311 -16.008545898050215C-259.8596643302935 -253.77864287482885 121.77093249589507 -51.30047510752411 462.45603464148826 -190.7082092555945C803.1411367870817 -330.115943403665 1051.1185763953522 -769.5664357739159 1214.6781205851157 -685.1656698087895C1378.2376647748788 -600.7649038436632 1279.9936791222308 -92.54829434200269 1247.5418467523505 214.4154673770122C1215.090014382471 521.3792290960273 1214.9152329818653 521.9109370850049 1058.9093252096943 788.2603864424841 "
      ></path><path
        d="M1230.245073746842 218.20304009914912C1198.4555236702254 518.9022352524701 1198.2843092369785 519.4230920579992 1045.4621955009745 780.3368383673667C892.6400817649703 1041.2505846767335 775.8941678974322 1437.4608856921814 496.69892781402314 1470.5890223841102C217.50368773061382 1503.7171590760395 -107.05784278517581 1247.2909496296415 -294.6749568993928 939.3518944886289C-482.29207101360976 631.4128393476162 -561.333298677177 225.3992037253197 -403.8632199342178 -7.518442292749C-246.39314119125856 -240.43608831081747 127.44907610786504 -42.09012804896804 461.1814210668135 -178.6528063980984C794.9137660257622 -315.21548474722863 1037.8304415603948 -745.6975997221683 1198.0520358687338 -663.0192983685752C1358.2736301770733 -580.3409970149819 1262.0346238234588 -82.49615505417171 1230.245073746842 218.20304009914912C1198.4555236702254 518.9022352524701 1198.2843092369785 519.4230920579992 1045.4621955009745 780.3368383673667 "
      ></path><path
        d="M1212.9483007413335 221.9904602333952C1181.8210329579795 516.4250888210217 1181.653385492092 516.9350944431026 1032.0150657922545 772.4131377043582C882.3767460924173 1027.8911809656136 768.0630387637864 1415.8471007099056 494.68436618211445 1448.2850678874192C221.30569360044296 1480.7230350649334 -96.49413836293422 1229.6390383153357 -280.2025625997717 928.1153801564274C-463.9109868366091 626.5917219975192 -541.3055222571854 229.03670378402057 -387.11607015470446 0.9715087246618168C-232.9266180522235 -227.09368633469717 133.127219719835 -32.879933578302825 459.9068074921388 -166.5975561284929C786.6863952644426 -300.31517867868274 1024.5423067254367 -721.8289162583112 1181.4259511523524 -640.8730795162512C1338.3095955792683 -559.9172427741912 1244.0755685246872 -72.44416835423135 1212.9483007413335 221.9904602333952C1181.8210329579795 516.4250888210217 1181.653385492092 516.9350944431026 1032.0150657922545 772.4131377043582 "
      ></path><path
        d="M1195.6515277358246 225.77803295553213C1165.1865422457336 513.9480949774645 1165.0224617472054 514.4472494160971 1018.5679360835347 764.4895896292405C872.1134104198643 1014.531929842384 760.2319096301403 1394.2334683155213 492.6698045502062 1425.9812659786198C225.10769947027234 1457.7290636417188 -85.93043394069264 1211.9872795889205 -265.7301683001506 916.8790184121169C-445.52990265960847 621.7707572353133 -521.2777458371937 232.67435643061253 -370.3689203751911 9.461612329963259C-219.46009491318853 -213.7511317706858 138.80536333180487 -23.669586519746872 458.63219391746406 -154.54215327099655C778.4590245031229 -285.41472002224646 1011.2541718904793 -697.9600802065636 1164.799866435971 -618.7267080760369C1318.3455609814628 -539.49333594551 1226.116513225916 -62.392029066400255 1195.6515277358246 225.77803295553213C1165.1865422457336 513.9480949774645 1165.0224617472054 514.4472494160971 1018.5679360835347 764.4895896292405 "
      ></path><path
        d="M1178.3547547303158 229.56536153704405C1148.5520515334877 511.47085699328227 1148.3915380023188 511.9591602484661 1005.1208063748152 756.5657974134979C861.850074747311 1001.1724345785296 752.4007804964942 1372.6195917805117 490.655242918298 1403.677219929195C228.9097053401016 1434.7348480778783 -75.36672951845094 1194.3352767218803 -251.25777400052937 905.6424125271812C-427.1488184826078 616.949548332482 -501.2499694172021 236.31176493657904 -353.6217705956778 17.951471794639588C-205.99357177415345 -200.40882134729964 144.48350694377484 -14.459483601815805 457.3575803427891 -142.48699455412543C770.2316537418033 -270.51450550643506 997.9660370555212 -674.091488295441 1148.1737817195894 -596.5805807764474C1298.3815263836577 -519.0696732574537 1208.1574579271442 -52.34013391919416 1178.3547547303158 229.56536153704405C1148.5520515334877 511.47085699328227 1148.3915380023188 511.9591602484661 1005.1208063748152 756.5657974134979 "
      ></path><path
        d="M1161.0579512072288 233.35275115371223C1131.9175303036636 508.9936800442563 1131.760583739854 509.4711321159916 991.673646148517 748.6420662329117C851.5867085571799 987.8130003498316 744.56962084527 1351.0057762806582 488.6406507688114 1381.3732349149268C232.71168069235284 1411.7406935491954 -64.80305561378759 1176.6833348899968 -236.7854102184864 894.4058676774018C-408.76776482318525 612.1284004648069 -481.2222235147886 239.9492344777018 -336.8746513337426 26.441392294472394C-192.52707915269661 -187.06644988875723 150.1616200381667 -5.249319648728601 456.08293625053625 -130.43177480209806C762.0042524629057 -255.6142299554674 984.6778717029854 -650.2228353491621 1131.5476664856299 -574.4343924417017C1278.4174612682743 -498.6459495342412 1190.1983721107945 -42.288177736831926 1161.0579512072288 233.35275115371223C1131.9175303036636 508.9936800442563 1131.760583739854 509.4711321159916 991.673646148517 748.6420662329117 "
      ></path><path
        d="M1143.761208719298 237.14026284069269C1115.2830701089958 506.51662516554256 1115.1296905125457 506.9832260538294 978.2265469573751 740.7184571226376C841.323403402205 974.4536881914457 736.7385222292021 1329.3920828511173 486.62611965448104 1359.0693719709707C236.51371707976034 1388.7466610908236 -54.23932067396777 1159.0315151284258 -222.3129854012871 883.1694448979351C-390.38665012860645 607.3073746674445 -461.1944165772188 243.58682608913728 -320.1274710366512 34.93143486461747C-179.06052549608353 -173.72395635990233 155.83979416771467 3.960966374671102 454.8083531934394 -118.37643297975808C753.7769122191642 -240.71383233418715 971.3897673856056 -626.3540603325707 1114.9216122868265 -552.2880820366435C1258.4534571880472 -478.2221037407162 1172.2393473296008 -32.23609948415708 1143.761208719298 237.14026284069269C1115.2830701089958 506.51662516554256 1115.1296905125457 506.9832260538294 978.2265469573751 740.7184571226376 "
      ></path><path
        d="M1126.4644357137897 240.927682974939C1098.64857939675 504.0394787340947 1098.498766767659 504.49522843893305 964.7794172486554 732.7947564596293C831.0600677296518 961.0942844803255 728.907393095556 1307.778297868842 484.6115580225728 1336.7654174742802C240.3157229495897 1365.752537079718 -43.67561625172607 1141.3796038141197 -207.84059110166595 871.9329305657336C-372.00556595160583 602.4862573173477 -441.16664015722716 247.22432614783838 -303.38032125713784 43.421385882028176C-165.59400235704845 -160.3815543837818 161.51793777968464 13.171160845336544 453.5337396187647 -106.32118271015247C745.5495414578447 -225.81352626564149 958.101632550648 -602.4853768687137 1098.295527570445 -530.1418631843196C1238.489422590242 -457.79834949992556 1154.2802920308293 -22.184112784216723 1126.4644357137897 240.927682974939C1098.64857939675 504.0394787340947 1098.498766767659 504.49522843893305 964.7794172486554 732.7947564596293 "
      ></path><path
        d="M1109.167662708281 244.71504207402904C1082.014088684504 501.56227126749036 1081.8678430227724 502.0071697888802 951.3322875399356 724.8709947614645C820.7967320570988 947.7348197340491 721.07626396191 1286.1644518514104 482.5969963906646 1314.4614019424334C244.11772881941897 1342.758352033456 -33.1119118294846 1123.7276314646576 -193.36819680204485 860.6963551983763C-353.62448177460516 597.6650789320945 -421.1388637372355 250.861765171383 -286.6331714776245 51.91127586428286C-152.1274792180135 -147.03921344281753 167.19608139165462 22.38129428084551 452.25912604408995 -94.26599347570323C737.3221706965251 -210.91328123225185 944.8134977156901 -578.616754440013 1081.6694428540636 -507.995705367152C1218.525387992437 -437.3746562942912 1136.3212367320577 -12.132187119432501 1109.167662708281 244.71504207402904C1082.014088684504 501.56227126749036 1081.8678430227724 502.0071697888802 951.3322875399356 724.8709947614645 "
      ></path><path
        d="M1091.870889702772 248.50258427858762C1065.3795979722581 499.0852469063552 1065.2369192778856 499.51929424429636 937.8851578312158 716.947416168769C810.5333963845458 934.3755380932419 713.2451348282639 1264.550788939448 480.5824347587561 1292.1575695160554C247.91973468924834 1319.7643500926633 -22.5482074072429 1106.0758422206648 -178.8958025024237 849.4599629364875C-335.2433975976045 592.8440836523105 -401.1110873172439 254.49938730039662 -269.88602169811116 60.40134895200606C-138.66095607897842 -133.6966893963844 172.87422500362447 31.59161082182345 450.984512469415 -82.210621135785C729.0947999352054 -196.0128530933937 931.5253628807325 -554.7479489058434 1065.043358137682 -485.8493644445157C1198.5613533946314 -416.95077998318806 1118.362181433286 -2.08007834917953 1091.870889702772 248.50258427858762C1065.3795979722581 499.0852469063552 1065.2369192778856 499.51929424429636 937.8851578312158 716.947416168769 "
      ></path><path
        d="M1074.5741166972632 252.28991286009978C1048.745107260012 496.60800892217276 1048.6059955329993 497.0312050766654 924.4380281224958 709.0236239530261C800.2700607119925 921.0160428293873 705.4140056946178 1242.9369124044379 478.56787312684764 1269.8535234666306C251.72174055907772 1296.7701345288233 -11.9845029850012 1088.4238393536245 -164.42340820280253 838.2233570515518C-316.8623134206038 588.0228747494791 -381.08331089725226 258.13679580636335 -253.13887191859783 68.8912084166825C-125.19443293994345 -120.35437897299823 178.55236861559445 40.801713739754405 449.70989889474004 -70.15546241891388C720.8674291738857 -181.11263857758217 918.2372280457746 -530.8793569947208 1048.4172734213005 -463.7032371449263C1178.5973187968261 -396.5271172951318 1100.4031261345147 7.971816798026566 1074.5741166972632 252.28991286009978C1048.745107260012 496.60800892217276 1048.6059955329993 497.0312050766654 924.4380281224958 709.0236239530261 "
      ></path><path
        d="M1057.2773436917546 256.07745506465835C1032.110616547766 494.13098456103717 1031.9750717881127 494.5433295320813 910.990898413776 701.1000453603306C790.0067250394395 907.6567611885796 697.5828765609717 1221.3232494924753 476.5533114949394 1247.5496910402524C255.5237464289071 1273.7761325880301 -1.4207985627597282 1070.7720501096312 -149.95101390318143 826.986964789663C-298.4812292436032 583.2018794696949 -361.0555344772606 261.77441793537673 -236.39172213908455 77.38128150440582C-111.72790980090849 -107.0118549265652 184.23051222756442 50.01203028073223 448.4352853200653 -58.10009007899589C712.6400584125663 -166.21221043872401 904.949093210817 -507.0105514605512 1031.791188704919 -441.55689622228994C1158.633284199021 -376.1032409840286 1082.4440708357429 18.023925568279424 1057.2773436917546 256.07745506465835C1032.110616547766 494.13098456103717 1031.9750717881127 494.5433295320813 910.990898413776 701.1000453603306 "
      ></path><path
        d="M1039.9805706862458 259.86478364617005C1015.4761258355202 491.6537465768549 1015.3441480432259 492.0552403644506 897.5437687050562 693.1762531445877C779.7433893668863 894.297265924725 689.7517474273259 1199.7093729574658 474.53874986303117 1225.2456449908275C259.32575229873635 1250.7819170241896 9.14290585948197 1053.1200472425912 -135.47861960356028 815.7503589047274C-280.1001450666025 578.3806705668635 -341.02775805726895 265.41182644134324 -219.6445723595712 85.87114096908215C-98.26138666187342 -93.66954450317905 189.90865583953428 59.22213319866319 447.1606717453906 -46.04493136212466C704.4126876512466 -151.3119959229125 891.6609583758591 -483.1419595494286 1015.1651039885376 -419.41076892270047C1138.6692496012158 -355.67957829597236 1064.4850155369713 28.075820715485406 1039.9805706862458 259.86478364617005C1015.4761258355202 491.6537465768549 1015.3441480432259 492.0552403644506 897.5437687050562 693.1762531445877 "
      ></path><path
        d="M1022.6838281983153 263.65232585072897C998.8416656408524 489.17672221571956 998.7132548159175 489.5673648198667 884.0966695139143 685.2526745518921C769.4800842119114 880.9379842839176 681.9206488112577 1178.095710045503 472.52421874870083 1202.94181256445C263.12778868614384 1227.7879150833967 19.706640799301795 1035.4682579985981 -121.006194786361 804.5139666428388C-261.7190303720237 573.5596752870792 -320.9999511196992 269.04944857035696 -202.89739206247975 94.36121405680547C-84.79483300526022 -80.32702045674603 195.58682996908237 68.43244973964113 445.88608868829397 -33.98955902220655C696.1853474075051 -136.41156778405434 878.3728540584796 -459.273154015259 998.5390497897342 -397.26442800006413C1118.7052455209887 -335.25570198486923 1046.525990755778 38.12792948573838 1022.6838281983153 263.65232585072897C998.8416656408524 489.17672221571956 998.7132548159175 489.5673648198667 884.0966695139143 685.2526745518921 "
      ></path><path
        d="M1005.3870246752283 267.4396239146628C982.2071444110284 486.6994537139592 982.0823005534528 487.07924513465764 870.6495092876164 677.3288518185714C759.2167180217803 867.5784585024851 674.0894891600337 1156.4818029929152 470.50962659921424 1180.637735997447C266.9297640383951 1204.7936690019785 30.27031470396514 1017.8162246139798 -106.53383100431802 793.277330240325C-243.33797671260118 568.73843586667 -300.9722052172857 272.68682655874545 -186.15027280054454 102.85104300390367C-71.32834038380338 -66.98474055093789 201.26494306347422 77.64252213999384 444.6114445960409 -21.934430822913555C687.9579461286075 -121.51138378582095 865.0846887059436 -435.4045926217145 981.9129345557744 -375.1183312180528C1098.7411804056053 -314.8320698143911 1028.566904939428 48.17979411536635 1005.3870246752283 267.4396239146628C982.2071444110284 486.6994537139592 982.0823005534528 487.07924513465764 870.6495092876164 677.3288518185714 "
      ></path><path
        d="M988.0902821872976 271.22716611922147C965.5726842163606 484.2224293528236 965.4514073261441 484.59136959007355 857.2024100964748 669.4052732258756C748.9534128668051 854.2191768616774 666.2583905439656 1134.8681400809526 468.49509548488413 1158.333903571069C270.7318004258025 1181.7996670611851 40.834049643784965 1000.1644353699869 -92.06140618711873 782.0409379784362C-224.95686201802243 563.9174405868857 -280.9443982797159 276.32444868775895 -169.40309250345308 111.3411160916271C-57.86178672719029 -53.64221650450486 206.94311719302232 86.85283868097179 443.33686153894416 -9.87905848299556C679.7306058848662 -106.61095564696268 851.796584388564 -411.53578708754503 965.2868803569711 -352.9719902954165C1078.7771763253782 -294.408193503288 1010.6078801582346 58.231902885619206 988.0902821872976 271.22716611922147C965.5726842163606 484.2224293528236 965.4514073261441 484.59136959007355 857.2024100964748 669.4052732258756 "
      ></path><path
        d="M970.7934786642109 275.01455573588953C948.9381629865366 481.7452524037976 948.8204530636797 482.1033414575991 843.7552498701768 661.481542045289C738.690046676674 840.8597426329791 658.4272308927416 1113.254324581099 466.48050333539766 1136.0299185568003C274.5337757780537 1158.8055125325016 51.397723548448425 982.512493538103 -77.5890424050757 770.8043931286568C-206.5758083585999 559.0962927192109 -260.9166523773024 279.9619182288819 -152.65597324151787 119.83103659145968C-44.3952941057334 -40.299845045962456 212.62123028741405 96.06300263405899 442.0622174466912 2.1761612690319225C671.5032046059682 -91.71068009599503 838.508419036028 -387.6671341412661 948.6607651230115 -330.8258019606708C1058.8131112099948 -273.9844697800754 992.6487943418847 68.28385906798144 970.7934786642109 275.01455573588953C948.9381629865366 481.7452524037976 948.8204530636797 482.1033414575991 843.7552498701768 661.481542045289 "
      ></path><path
        d="M953.496705658702 278.8020674228702C932.3036722742906 479.2681975250839 932.1895293187931 479.6154353954371 830.3081201614568 653.5579329350153C728.426711004121 827.5004304745935 650.5961017590955 1091.6406311515582 464.4659417034893 1113.7260556128444C278.3357816478831 1135.8114800741303 61.96142797069001 964.8606737765319 -63.1166481054546 759.5679703491901C-188.1947241815992 554.2752669218485 -240.88887595731074 283.5995098403174 -135.90882346200453 128.32107916160498C-30.92877096669838 -26.957351517107554 218.29937389938402 105.2732886574588 440.78760387201635 14.231503091371906C663.2758338446488 -76.81028247471488 825.2202842010704 -363.79835912467473 932.0346804066301 -308.67949155561257C1038.8490766121895 -253.5606239865504 974.6897390431131 78.3359373206564 953.496705658702 278.8020674228702C932.3036722742906 479.2681975250839 932.1895293187931 479.6154353954371 830.3081201614568 653.5579329350153 "
      ></path><path
        d="M936.1999326531934 282.58942652196015C915.669181562045 476.7909900584798 915.5586055739063 477.12737674538425 816.860990452737 645.6341712368508C718.1633753315677 814.140965728317 642.7649726254494 1070.0267851341268 462.45138007158096 1091.4220400809977C282.13778751771235 1112.8172950278686 72.52513239293171 947.2087014270699 -48.64425380583344 748.3313949818325C-169.81364000459854 549.454088536595 -220.8610995373191 287.23694886386215 -119.16167368249126 136.81096914385944C-17.46224782766336 -13.615010576143277 223.97751751135388 114.48342209296788 439.5129902973415 26.286692325821264C655.0484630833291 -61.91003744132536 811.9321493661128 -339.92973669597393 915.4085956902484 -286.533333738445C1018.8850420143845 -233.13693078091603 956.7306837443416 88.3878629854405 936.1999326531934 282.58942652196015C915.669181562045 476.7909900584798 915.5586055739063 477.12737674538425 816.860990452737 645.6341712368508 "
      ></path><path
        d="M918.9031596476846 286.3769382089407C899.0346908497991 474.3139351797663 898.9276818290198 474.63947068322204 803.4138607440173 637.7105621265766C707.9000396590145 800.7816535699312 634.9338434918034 1048.4130917045857 460.4368184396725 1069.1181771370416C285.9397933875417 1089.823262569497 83.0888368151733 929.5568816654984 -34.171859506212286 737.0949722023656C-151.43255582759792 544.6330627392326 -200.83332311732744 290.8745404752974 -102.41452390297792 145.30101171400452C-3.995724688628343 -0.27251704728837467 229.65566112332385 123.69370811636759 438.23837672266666 38.34203414816113C646.8210923220095 -47.00963982004521 798.6440145311549 -316.06096167938256 898.7825109738669 -264.38702333338676C998.921007416579 -212.71308498739103 938.7716284455701 98.43994123811535 918.9031596476846 286.3769382089407C899.0346908497991 474.3139351797663 898.9276818290198 474.63947068322204 803.4138607440173 637.7105621265766 "
      ></path><path
        d="M901.6064171597538 290.16429730803077C882.400230655131 471.83672771316196 882.2967886017113 472.15141203316944 789.9667615528756 629.7868004284121C697.6367345040399 787.4221888236548 627.1027448757354 1026.799245687154 458.42228732534227 1046.8141616051948C289.7418297749491 1066.8290775232354 93.652571754993 911.9049093160365 -19.69943468901306 725.8583968350081C-133.05144113301913 539.8118843539796 -180.80551617975766 294.51197949884227 -85.66734360588646 153.79090169625908C9.470828967984744 13.069823893675903 235.33383525287195 132.90384155187667 436.96379366557005 50.39722338261049C638.5937520782682 -32.109394786655685 785.3559102137751 -292.19233925068175 882.1564567750634 -242.24086551621923C978.957003336352 -192.28939178175665 920.8126036643766 108.49186690289957 901.6064171597538 290.16429730803077C882.400230655131 471.83672771316196 882.2967886017113 472.15141203316944 789.9667615528756 629.7868004284121 "
      ></path><path
        d="M884.3096441542452 293.9518700301677C865.7657399428854 469.35973386960495 865.6658648568246 469.6635670061637 776.5196318441556 621.8632523532947C687.3733988314866 774.0629377004257 619.2716157420894 1005.1856132927699 456.4077256934339 1024.510359696395C293.5438356447785 1043.8351061000203 104.2162761772347 894.2531505896216 -5.227040389391902 714.6220350906976C-114.67035695601845 534.9909195917735 -160.77773975976606 298.1496321454339 -68.92019382637312 162.28100530156053C22.93735210701982 26.41237845768717 241.01197886484192 142.11418861043262 435.6891800908952 62.45262624010661C630.3663813169487 -17.208936130219286 772.0677753788175 -268.32350319893413 865.5303720586821 -220.09449407600476C958.9929687385468 -171.8654849530754 902.8535483656051 118.54400619073056 884.3096441542452 293.9518700301677C865.7657399428854 469.35973386960495 865.6658648568246 469.6635670061637 776.5196318441556 621.8632523532947 "
      ></path><path
        d="M867.0128406311583 297.7391986116795C849.1312187130611 466.8824958854225 849.0349105943601 467.17547783853274 763.0724716178579 613.939460137552C677.1100326413555 760.7034424365711 611.4404560908652 983.5717367577599 454.39313354394744 1002.2063136469701C297.34581099702973 1020.8408905361803 114.77995008189816 876.6011477225813 9.24532339265113 703.3854292057617C-96.2893032965959 530.1697106889424 -140.74999385735254 301.7870406514005 -52.17307456443791 170.77086476623685C36.403844728476656 39.75468888107332 246.69009195923365 151.32429152836357 434.41453599864224 74.50778495697796C622.1389800380507 -2.3087216144078866 758.7796100262817 -244.45491128781146 848.9042568247223 -197.9483667764153C939.0289036231634 -151.44182226501914 884.8944625492552 128.59590133793654 867.0128406311583 297.7391986116795C849.1312187130611 466.8824958854225 849.0349105943601 467.17547783853274 763.0724716178579 613.939460137552 "
      ></path><path
        d="M849.7160981432276 301.5267102986602C832.4967585183936 464.4054410067089 832.4040173670517 464.68757177637065 749.625372426716 606.0158510272781C666.8467274863806 747.3441302781853 603.6093574747973 961.9580433282192 452.3786024296172 979.902450703014C301.1478473844372 997.846858077809 125.34368502171787 858.9493279610101 23.717748209850356 692.1490064262948C-77.90818860201716 525.34868489158 -120.72218691978276 305.424632262836 -35.42589426734651 179.26090733638216C49.8703983850898 53.09718240992822 252.36826608878164 160.53457755176328 433.1399529415455 86.56312677931783C613.9116397943094 12.591676006872262 745.491505708902 -220.58613627122008 832.2782026259192 -175.80205637135708C919.0648995429362 -131.01797647149408 866.9354377680615 138.64797959061138 849.7160981432276 301.5267102986602C832.4967585183936 464.4054410067089 832.4040173670517 464.68757177637065 749.625372426716 606.0158510272781 "
      ></path><path
        d="M832.4192946201406 305.31406939775025C815.8622372885693 461.9282335401049 815.773063104587 462.19951312631804 736.1782122004181 598.0920893291136C656.5833612962492 733.9846655319088 595.7781978235731 940.3441973107876 450.36401028013074 957.5984351711675C304.9498227366885 974.8526730315473 135.90735892638145 841.2973556115483 38.19011199189339 680.9124310589377C-59.527134942594614 520.527506506327 -100.69444101736923 309.06207128638084 -18.678775005411296 187.75079731863661C63.33689100654669 66.43952335089261 258.0463791831735 169.74471098727247 431.86530884929266 98.61831601376718C605.6842385154116 27.491921040261786 732.203340356366 -196.71751384251928 815.6520873919594 -153.6558985541895C899.1008344275529 -110.5942832658597 848.9763519517119 148.6999052553956 832.4192946201406 305.31406939775025C815.8622372885693 461.9282335401049 815.773063104587 462.19951312631804 736.1782122004181 598.0920893291136 "
      ></path><path
        d="M815.122521614632 309.1015505671527C799.2277465763236 459.45114814381316 799.1421393597002 459.7115765465777 722.7310824916981 590.1684497012616C646.320025623696 720.6253228559449 587.947068689927 918.7304733636688 448.3494486482225 935.2945417096332C308.75182860651785 951.8586100555979 146.47106334862303 823.6455053323989 52.662506291514546 669.6759777618927C-41.14605076559394 515.7064501913862 -80.66666459737758 312.699632380238 -1.9316252258979603 196.24080937120357C76.80341414558166 79.78198636216939 263.72452279514346 178.95496649309416 430.5906952746177 110.67362731852893C597.4568677540921 42.39228814396381 718.9152055214083 -172.84876934350604 799.0260026755777 -131.5096186667094C879.1367998297476 -90.17046798991282 831.0172966529403 158.75195299049233 815.122521614632 309.1015505671527C799.2277465763236 459.45114814381316 799.1421393597002 459.7115765465777 722.7310824916981 590.1684497012616 "
      ></path><path
        d="M797.8257486091234 312.88894018382075C782.5932558640777 456.97397119478694 782.5112156148136 457.2235484141032 709.2839527829783 582.244718520675C636.0566899511431 707.2658886272466 580.1159395562811 897.1166578638154 446.33488701631404 912.9905566953646C312.5538344763471 928.8644555269141 157.03476777086462 805.9935635005149 67.13490059113565 658.4394329121133C-22.764966588593268 510.88530232371136 -60.63888817738592 316.33710192136095 14.815524553615376 204.73072987103637C90.26993728461667 93.1243578207118 269.40266640711343 188.16513044618125 429.31608169994297 122.72884707055641C589.2294969927724 57.29256369493146 705.6270706864507 -148.9801163972271 782.3999179591965 -109.36343033196374C859.1727652319423 -69.74674426670032 813.0582413541688 168.80390917285456 797.8257486091234 312.88894018382075C782.5932558640777 456.97397119478694 782.5112156148136 457.2235484141032 709.2839527829783 582.244718520675 "
      ></path><path
        d="M780.5289756036145 316.67636031806705C765.9587651518318 454.4968247633391 765.8802918699271 454.73555079920675 695.8368230742585 574.3210178576668C625.79335427859 693.9064849161268 572.284810422635 875.50287288154 444.3203253844057 890.6866021986743C316.35584034617636 905.8703315158086 167.5984721931062 788.3416521862093 81.6072948907568 647.202918579912C-4.383882411592651 506.0641849736144 -40.61111175739427 319.97460198006183 31.56267433312871 213.22068088844708C103.73646042365169 106.46675979683232 275.0808100190834 197.3753249168467 428.0414681252681 134.7840973401619C581.0021262314528 72.19286976347723 692.3389358514928 -125.11143293337011 765.7738332428148 -87.2172114796399C839.2087306341373 -49.32299002590969 795.0991860553972 178.85589587279492 780.5289756036145 316.67636031806705C765.9587651518318 454.4968247633391 765.8802918699271 454.73555079920675 695.8368230742585 574.3210178576668 "
      ></path><path
        d="M763.2322331156838 320.46381096989137C749.324304957164 452.0197088494692 749.2493986426184 452.2475837018884 682.3897238831167 566.3973477122365C615.530049123615 680.5471117225848 564.4537118065671 853.8891184168428 442.30579427007547 868.382678219562C320.15787673358386 882.8762380222809 178.16220713292603 770.6897713894818 96.07971970795609 635.9664347652888C13.997232282986147 501.24309814109574 -20.583304819824548 323.61213255634107 48.30985463022017 221.7106624234359C117.20301408026484 119.80919229053097 280.7589841486314 206.58554990509015 426.7668850681714 146.83937812734564C572.7747859877114 87.09320634960113 679.0508315341131 -101.24271895193499 749.1477790440117 -65.07096210973793C819.2447265539099 -28.89920526754088 777.1401612742038 188.9079130903135 763.2322331156838 320.46381096989137C749.324304957164 452.0197088494692 749.2493986426184 452.2475837018884 682.3897238831167 566.3973477122365 "
      ></path><path
        d="M745.9354295925968 324.2512921392938C732.68978372734 449.5426234531776 732.6184443801537 449.7596471221482 668.9425636568188 558.4737080843845C605.2666829334838 667.1877690466208 556.6225521553429 832.275394469724 440.291202120589 846.0787847580277C323.9598520858351 859.8821750463317 188.7258810375895 753.0379211103323 110.55208348999906 624.7299814682437C32.378285942408695 496.42204182615524 -0.5555589174110196 327.2496936501983 65.05697389215538 230.2006744760031C130.66950670172173 133.15165530180775 286.4370972430231 215.79580541091173 425.49224097591843 158.8946894321075C564.5473847088136 101.99357345330316 665.7626661815772 -77.37397445292169 732.5216638100519 -42.92468222225784C799.2806614385267 -8.475389991594 759.1810754578539 198.95996082541023 745.9354295925968 324.2512921392938C732.68978372734 449.5426234531776 732.6184443801537 449.7596471221482 668.9425636568188 558.4737080843845 "
      ></path><path
        d="M728.6387176222445 328.03865123838386C716.0553540502502 447.06541598657327 715.9875816704235 447.27158847209535 655.4954949832552 550.54994638622C595.003408296087 653.8283043003444 548.791484056853 810.6615484522922 438.2767015238369 823.774769226181C327.76191899082073 836.8879900000697 199.28964649498732 735.3859487608702 125.02453882477647 613.4934061008862C50.75943115456562 491.6008634409021 19.472278537736884 330.88713267374305 81.80418470682491 238.69056445825754C144.13609087591294 146.49399624277203 292.11530189014934 225.0059388464208 424.21768843639984 170.94987866655674C556.3200749826503 116.89381848669268 652.4745923817757 -53.50535202422094 715.8956401288267 -20.778524405090252C779.3166878758777 11.94830321404038 741.2220811942386 209.01188649019446 728.6387176222445 328.03865123838386C716.0553540502502 447.06541598657327 715.9875816704235 447.27158847209535 655.4954949832552 550.54994638622 "
      ></path><path
        d="M711.3418835815795 331.8261018902083C699.4208023028481 444.58830007270353 699.3565968903806 444.7836213747771 642.048304239379 542.6262762407898C584.7400115883776 640.4689311068025 540.9602938880507 789.0477939875952 436.2620788567723 801.4708452470686C331.56386382549385 813.8938965065422 209.85328988207277 717.7340679641429 139.49687208924138 602.2569222862631C69.14045429640998 486.7797766083834 39.49999392257229 334.5246632500223 98.551273451182 247.18054599324648C157.60255297979177 159.83642873647074 297.79338446696306 234.21616383466426 422.94301382656886 183.00515945374048C548.0926431861744 131.79415507281658 639.1863965116617 -29.636638042785762 699.269494377289 1.3677249648116572C759.3525922429162 32.37208797240913 723.2629648603108 219.06390370771294 711.3418835815795 331.8261018902083C699.4208023028481 444.58830007270353 699.3565968903806 444.7836213747771 642.048304239379 542.6262762407898 "
      ></path><path
        d="M694.0451410936488 335.61358305961073C682.7863421081803 442.1112146764118 682.7257036630721 442.2956847950368 628.6012050482374 534.7026366129378C574.4767064334026 627.1095884308387 533.1291952719828 767.4340700404764 434.24754774244207 779.1669517855344C335.36590021290124 790.8998335305926 220.41702482189248 700.0822176849933 153.9692969064406 591.0204689892181C87.52156899098878 481.95872029344287 59.527800860142065 338.1622243438794 115.29845374827346 255.67055804581355C171.06910663640485 173.17889174774757 303.47155859651116 243.42641934048584 421.668430769472 195.06047075850222C539.8653029424331 146.69452217651866 625.898292194282 -5.767893543772516 682.6434401784855 23.514004852291748C739.3885881626891 52.79590324835601 705.3039400791173 229.11595144280955 694.0451410936488 335.61358305961073C682.7863421081803 442.1112146764118 682.7257036630721 442.2956847950368 628.6012050482374 534.7026366129378 "
      ></path><path
        d="M676.7483680881401 339.40103371143505C666.1518513959344 439.63409876254195 666.0947799181856 439.80771769771854 615.1540753395175 526.7789664675076C564.2133707608496 613.7502152372967 525.2980661383368 745.8203155757792 432.2329861105337 756.8630278064222C339.1679060827306 767.9057400370652 230.98072924413407 682.430336888266 168.44169120606176 579.783985174595C105.90265316798946 477.13763346092423 79.55557728013372 341.79975492015865 132.0456035277868 264.1605395808025C184.53562977543987 186.52132424144622 309.14970220848113 252.6366443287294 420.3938171947973 207.11575154568595C531.6379321811135 161.59485876264256 612.6101573593243 18.100820437662662 666.0173554621041 45.660254222193714C719.4245535648838 73.21968800672477 687.3448847803456 239.16796866032814 676.7483680881401 339.40103371143505C666.1518513959344 439.63409876254195 666.0947799181856 439.80771769771854 615.1540753395175 526.7789664675076 "
      ></path><path
        d="M659.4515950826313 343.18845384568135C649.5173606836886 437.1569523310941 649.463856173299 437.31972008282196 601.7069456307977 518.8552658044993C553.9500350882963 600.3908115261765 517.4669370046907 724.2065305935038 430.21842447862537 734.5590733097317C342.96991195255987 744.9116160259596 241.5444336663757 664.7784255739601 182.91408550568292 568.5474708423937C124.28373734499013 472.31651611082725 99.58335370012531 345.43725497885964 148.79275330730013 272.6504905982132C198.0021529144749 199.86372621756675 314.827845820451 261.84683879939473 419.11920362012233 219.1710018152915C523.4105614197938 176.49516483118833 599.3220225243665 41.96950390151966 649.3912707457225 67.80647307451756C699.4605189670785 93.64344224751545 669.3858294815741 249.2199553602686 659.4515950826313 343.18845384568135C649.5173606836886 437.1569523310941 649.463856173299 437.31972008282196 601.7069456307977 518.8552658044993 "
      ></path><path
        d="M642.1548220771226 346.9759044975058C632.8828699714427 434.67983641722435 632.8329324284123 434.8317529855037 588.2598159220778 510.9315956590692C543.6866994157433 587.0314383326347 509.6358078710447 702.5927761288068 428.2038628467169 712.2551493306194C346.77191782238924 721.917522532432 252.10813808861735 647.1265447772327 197.38647980530408 557.3109870277707C142.66482152199075 467.4954292783086 119.61113012011697 349.07478555513876 165.5399030868134 281.14047213320214C211.4686760535099 213.20615871126546 320.50598943242096 271.0570637876382 417.8445900454476 231.22628260247518C515.1831906584744 191.39550141731223 586.0338876894087 65.83821788295484 632.7651860293411 89.95272244441952C679.4964843692734 114.0672270058842 651.4267741828025 259.2719725777872 642.1548220771226 346.9759044975058C632.8828699714427 434.67983641722435 632.8329324284123 434.8317529855037 588.2598159220778 510.9315956590692 "
      ></path><path
        d="M624.8580490716138 350.7633551493301C616.2483792591968 432.2027205033544 616.2020086835258 432.34378588818527 574.812686213358 503.00792551363907C533.4233637431903 573.6720651390926 501.8046787373987 680.9790216641096 426.18930121480867 689.951225351507C350.5739236922186 698.9234290389045 262.67184251085894 629.474663980505 211.85887410492518 546.0745032131474C161.04590569899142 462.67434244579 139.63890654010862 352.712316131418 182.28705286632675 289.6304536681911C224.93519919254493 226.5485912049641 326.1841330443908 280.26728877588164 416.56997647077276 243.2815633896589C506.9558198971547 206.29583800343613 572.745752854451 89.70693186438996 616.1391013129596 112.09897181432143C659.5324497714681 134.49101176425296 633.4677188840308 269.3239897953057 624.8580490716138 350.7633551493301C616.2483792591968 432.2027205033544 616.2020086835258 432.34378588818527 574.812686213358 503.00792551363907 "
      ></path><path
        d="M607.561276066105 354.5507752835763C599.6138885469509 429.7255740719065 599.5710849386392 429.8557882732889 561.3655565046381 495.0842248506308C523.160028070637 560.3126614279724 493.97354960375264 659.3652366818344 424.1747395829003 667.6472708548166C354.375929562048 675.9293050277989 273.2355469331006 611.8227526661994 226.33126840454634 534.8379888809463C179.4269898759921 457.8532250956931 159.66668296010027 356.349816190119 199.03420264584008 298.1204046856018C238.4017223315799 239.8909931810847 331.8622766563608 289.4774832465471 415.2953628960979 255.33681365926446C498.72844913583504 221.1961440719819 559.4576180194932 113.57561532824695 599.5130165965779 134.24519066664527C639.5684151736629 154.9147660050436 615.5086635852592 279.37597649524616 607.561276066105 354.5507752835763C599.6138885469509 429.7255740719065 599.5710849386392 429.8557882732889 561.3655565046381 495.0842248506308 "
      ></path><path
        d="M590.2645030605963 358.3381954178226C582.979397834705 427.24842764045866 582.9401611937526 427.36779065839244 547.9184267959183 487.1605241876225C512.896692398084 546.9532577168525 486.1424204701066 637.7514516995591 422.16017795099197 645.3433163581262C358.17793543187724 652.9351810166934 283.79925135534216 594.1708413518937 240.8036627041675 523.601474548745C197.80807405299277 453.03210774559625 179.69445938009193 359.98731624882 215.78135242535342 306.6103557030126C251.8682454706149 253.23339515720522 337.54042026833076 298.6876777172124 414.0207493214232 267.39206392887C490.5010783745155 236.09645014052768 546.1694831845355 137.444298792104 582.8869318801965 156.3914095189691C619.6043805758577 175.33852024583422 597.5496082864877 289.4279631951865 590.2645030605963 358.3381954178226C582.979397834705 427.24842764045866 582.9401611937526 427.36779065839244 547.9184267959183 487.1605241876225 "
      ></path><path
        d="M572.9677300550875 362.12563081085784C566.3449071224591 424.77129646779974 566.3092374488659 424.879808302285 534.4712970871985 479.2368387834032C502.63335672553103 533.5938692645213 478.3112913364605 616.1376819760729 420.1456163190835 623.0393771202248C361.9799413017066 629.9410722643768 294.3629557775838 576.5189452963771 255.2760570037886 512.3649754753328C216.18915822999338 448.21100565428856 199.72223580008358 363.62483156631015 232.52850220486675 315.1003219792125C265.3347686096499 266.5758123921148 343.2185638803006 307.8978874466668 412.7461357467482 279.4473294572647C482.27370761319594 250.99677146786252 532.8813483495776 161.31299751475007 566.260847163815 178.53764363008202C599.6403459780524 195.7622897454139 579.590552987716 299.47996515391605 572.9677300550875 362.12563081085784C566.3449071224591 424.77129646779974 566.3092374488659 424.879808302285 534.4712970871985 479.2368387834032 "
      ></path><path
        d="M555.6709570495789 365.91308146268227C549.7104164102132 422.2941805539299 549.6783137039794 422.3918412049667 521.0241673784785 471.31316863797304C492.3700210529778 520.2344960709794 470.4801622028144 594.5239275113757 418.13105468717526 600.7354531411124C365.781947171536 606.9469787708492 304.92666019982545 558.8670644996496 269.74845130340975 501.12849166070964C234.57024240699405 443.3899188217698 219.75001222007518 367.26236214258927 249.2756519843801 323.59030351420137C278.80129174868495 279.91824488581346 348.8967074922706 317.10811243491025 411.4715221720735 291.50261024444836C474.0463368518763 265.8971080539864 519.59321351462 185.18171149618524 549.6347624474336 200.68389299998398C579.6763113802472 216.18607450378272 561.6314976889445 309.5319823714346 555.6709570495789 365.91308146268227C549.7104164102132 422.2941805539299 549.6783137039794 422.3918412049667 521.0241673784785 471.31316863797304 "
      ></path><path
        d="M538.374168785281 369.7004863381394C533.0759104391782 419.81701886369285 533.0473747003037 419.90382833128115 507.5770224109697 463.3894527161757C482.1066701216357 506.87507710107025 462.6490178103793 572.9101272703115 416.1164777964778 578.431483385633C369.58393778257624 583.9528395009545 315.49034936327797 541.2151379265549 284.22083034424185 489.8919620697194C252.95131132520567 438.568786212884 239.77777338127777 370.8998469425012 266.0227865051043 332.0802392728231C292.2677996289309 293.260631603145 354.5748358454515 326.3182916467866 410.1968933386096 303.55784525526485C465.81895083176767 280.7973988637432 506.305063420873 209.05037970125318 533.008662472263 222.83009659351876C559.7122615236528 236.6098134857843 543.6724271313838 319.58395381258595 538.374168785281 369.7004863381394C533.0759104391782 419.81701886369285 533.0473747003037 419.90382833128115 507.5770224109697 463.3894527161757 "
      ></path><path
        d="M521.0773957797722 373.4879369899638C516.4414197269323 417.3399029498231 516.4164509554171 417.4158612339628 494.1298927022499 455.46578257074555C471.8433344490826 493.5157039075283 454.8178886767332 551.2963728056143 414.1019161645694 556.1275594065206C373.38594365240556 560.958746007427 326.0540537855196 523.5632571298272 298.69322464386295 478.65547825509634C271.33239550220634 433.74769938036525 259.8055498012694 374.5373775187803 282.76993628461764 340.570220807812C305.73432276796586 306.6030640968437 360.2529794574214 335.52851663503003 408.92227976393474 315.6131260424485C457.5915800704481 295.6977354498671 493.01692858591537 232.91909368268836 516.3825777558815 244.97634596342067C539.7482269258476 257.03359824415304 525.7133718326122 329.63597103010454 521.0773957797722 373.4879369899638C516.4414197269323 417.3399029498231 516.4164509554171 417.4158612339628 494.1298927022499 455.46578257074555 "
      ></path><path
        d="M503.7806227742635 377.27538764178814C499.8069290146864 414.86278703595326 499.7855272105305 414.92789413664445 480.68276299353 447.5421124253154C461.57999877652946 480.1563307139862 446.98675954308726 529.6826183409172 412.0873545326611 533.8236354274084C377.18794952223493 537.9646525138994 336.6177582077612 505.9113763330997 313.1656189434841 467.41899444047317C289.71347967920696 428.92661254784656 279.8333262212611 378.1749080950595 299.517086064131 349.0602023428009C319.2008459070009 319.94549659054235 365.93112306939133 344.73874162327354 407.6476661892599 327.6684068296322C449.36420930912846 310.598072035991 479.7287937509575 256.7878076641235 499.7564930394999 267.12259533332264C519.7841923280423 277.4573830025218 507.75431653384055 339.6879882476231 503.7806227742635 377.27538764178814C499.8069290146864 414.86278703595326 499.7855272105305 414.92789413664445 480.68276299353 447.5421124253154 "
      ></path><path
        d="M486.4838802863328 381.0628382936125C483.1724688200186 412.38567112208347 483.1546339832221 412.4399270393261 467.23566380238833 439.6184422798852C451.3166936215546 466.79695752044427 439.1556609270193 508.0688638762201 410.0728234183308 511.519711448296C380.98998590964237 514.970559020372 347.18149314758097 488.2594955363721 327.6380437606834 456.18251062585C308.09459437378575 424.1055257153279 299.86113315883085 381.81243867133867 316.26426636122244 357.55018387778983C332.667399563614 333.287929084241 371.6092971989394 353.948966611517 406.3730831321632 339.72368761681594C441.13686906538703 325.4984086221149 466.44068943357786 280.65652164555866 483.13043884069657 289.2688447032246C499.8201882478153 297.88116776089055 489.795291752647 349.7400054651416 486.4838802863328 381.0628382936125C483.1724688200186 412.38567112208347 483.1546339832221 412.4399270393261 467.23566380238833 439.6184422798852 "
      ></path><path
        d="M469.187092022035 384.85025842785876C466.5379628489836 409.9085246906355 466.5236949795464 409.95192942442964 453.78851883487937 431.6947416168769C441.0533426902124 453.4375538093242 431.3245165345842 486.4550788939448 408.0582465276334 489.2157569516055C384.7919765206826 491.9764350092663 357.74518231103355 470.6075842220665 342.1104228015154 444.94599629364876C326.47566329199736 419.28440836523106 319.88889432003344 385.44993873003966 333.0114008819467 366.0401348952006C346.13390744386 346.6303310603616 377.2874255521203 363.1591610821823 405.0984542986993 351.7789378864215C432.90948304527836 340.39871469066065 453.15253933983104 304.52520510941565 466.50433886552605 311.41506355554844C479.85613839122095 318.3049220016812 471.8362211950864 359.79199216508204 469.187092022035 384.85025842785876C466.5379628489836 409.9085246906355 466.5236949795464 409.95192942442964 453.78851883487937 431.6947416168769 "
      ></path><path
        d="M451.8903190165263 388.63769382089407C449.9034721367377 407.43139351797663 449.8927712346598 407.4639470683222 440.3413891261595 423.7710562126577C430.79000701765926 440.0781653569931 423.49338740093816 464.8413091704586 406.04368489572505 466.9118177137042C388.593982390512 468.9823262569497 368.30888673327513 452.95568816654986 356.5828171011366 433.7094972202366C344.85674746899804 414.4633062739233 339.91667074002504 389.0874540475298 349.75855066146005 374.5301011714005C359.600430582895 359.9727482952712 382.9655691640902 372.36937081163677 403.8238407240245 363.8342034148161C424.68211228395876 355.2990360179955 439.8644045048733 328.39390383206177 449.8782541491445 333.56129766666135C459.8921037934157 338.7286915012609 453.8771658963148 369.8439941238115 451.8903190165263 388.63769382089407C449.9034721367377 407.43139351797663 449.8927712346598 407.4639470683222 440.3413891261595 423.7710562126577 "
      ></path><path
        d="M434.5935460110175 392.4251292139294C433.2689814244918 404.9542623453178 433.26184748977323 404.9759647122148 426.8942594174397 415.8473708084384C420.5266713451062 426.7187769046621 415.6622582672921 443.2275394469724 404.0291232638167 444.60787847580275C392.3959882603413 445.98821750463316 378.8725911555168 435.30379211103326 371.05521140075774 422.47299814682435C363.23783164599865 409.6422041826155 359.9444471600167 392.72496936501983 366.5057004409733 383.0200674476003C373.06695372192996 373.31516553018076 388.6437127760601 381.57958054109116 402.54922714934963 375.8894689432108C416.4547415226392 370.1993573453303 426.5762696699155 352.2626025547078 433.252169432763 355.7075317777742C439.9280691956105 359.1524610008406 435.9181105975432 379.89599608254105 434.5935460110175 392.4251292139294C433.2689814244918 404.9542623453178 433.26184748977323 404.9759647122148 426.8942594174397 415.8473708084384 "
      ></path><path
        d="M417.2967730055087 396.2125646069647C416.6344907122459 402.47713117265886 416.6309237448866 402.4879823561074 413.44712970871984 407.9236854042192C410.26333567255307 413.359388452331 407.8311291336461 421.6137697234862 402.01456163190835 422.3039392379014C396.1979941301707 422.99410875231655 389.43629557775836 417.6518960555166 385.52760570037884 411.2364990734122C381.6189158229993 404.82110209130775 379.97222358000835 396.36248468250994 383.25285022048666 391.5100337238002C386.533476860965 386.6575827650904 394.3218563880301 390.7897902705456 401.27461357467485 387.9447344716054C408.2273707613196 385.09967867266516 413.28813483495776 376.13130127735394 416.6260847163815 377.8537658888871C419.96403459780527 379.5762305004203 417.9590552987716 389.9479980412705 417.2967730055087 396.2125646069647C416.6344907122459 402.47713117265886 416.6309237448866 402.4879823561074 413.44712970871984 407.9236854042192 "
      ></path></g
    ></svg
  >
</div>

<script is:inline src="/tobii.min.js">
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));
</script>

<script defer>
  const tobii = new Tobii();
</script>


